# Data Cleaning

Before starting out with data analysis it is pertinent that we check the data and solve any messiness present in the data so that we get accurate results.

In [1]:
#importing required packages
import pandas as pd

In [2]:
# loading the song file
df1 = pd.read_csv('spotify data scraping\output\\final.csv')
df1.head()

,Unnamed: 0,name,endTime,artistName,trackName,msPlayed,datetime,danceability,energy,key,...,tempo,type,id,uri,track_href,analysis_url,duration_ms,time_signature,albumName,albumID
0,0,Angel___Theory of a Deadman,2021-03-12 05:39,Theory of a Deadman,Angel,1187,2021-03-12 05:39:00,0.559,0.559,11,...,72.498,audio_features,2m6Ko3CY1qXNNja8AlugNc,spotify:track:2m6Ko3CY1qXNNja8AlugNc,https://api.spotify.com/v1/tracks/2m6Ko3CY1qXN...,https://api.spotify.com/v1/audio-analysis/2m6K...,220780,4,Angel Baby,44CdsgXhU5R2esprq0tf43
1,1,"Gone, Gone, Gone___Phillip Phillips",2021-03-12 05:39,Phillip Phillips,"Gone, Gone, Gone",1292,2021-03-12 05:39:00,0.664,0.642,6,...,118.002,audio_features,2qHiyBpxyOXnRGG3t2iE96,spotify:track:2qHiyBpxyOXnRGG3t2iE96,https://api.spotify.com/v1/tracks/2qHiyBpxyOXn...,https://api.spotify.com/v1/audio-analysis/2qHi...,209693,4,The World From The Side Of The Moon,0mVaaNSEcExh4rejUpiSj6
2,2,Angel___Theory of a Deadman,2021-03-12 05:43,Theory of a Deadman,Angel,202213,2021-03-12 05:43:00,0.559,0.559,11,...,72.498,audio_features,2m6Ko3CY1qXNNja8AlugNc,spotify:track:2m6Ko3CY1qXNNja8AlugNc,https://api.spotify.com/v1/tracks/2m6Ko3CY1qXN...,https://api.spotify.com/v1/audio-analysis/2m6K...,220780,4,Angel Baby,44CdsgXhU5R2esprq0tf43
3,3,Without You___John Newman,2021-03-12 05:50,John Newman,Without You,207965,2021-03-12 05:50:00,0.662,0.413,0,...,93.005,audio_features,27OeeYzk6klgBh83TSvGMA,spotify:track:27OeeYzk6klgBh83TSvGMA,https://api.spotify.com/v1/tracks/27OeeYzk6klg...,https://api.spotify.com/v1/audio-analysis/27Oe...,161385,4,F*CK LOVE (SAVAGE),3YjfdLdpQcVI72uKhooZst
4,4,Hurricane___Anson Seabra,2021-03-12 05:57,Anson Seabra,Hurricane,201440,2021-03-12 05:57:00,0.687,0.200,7,...,134.993,audio_features,2wfuK8f77bybu2MWiQ5Evn,spotify:track:2wfuK8f77bybu2MWiQ5Evn,https://api.spotify.com/v1/tracks/2wfuK8f77byb...,https://api.spotify.com/v1/audio-analysis/2wfu...,201440,4,Hurricane,267C1h0KBd2QGM368Ef9ue

In [3]:
df1.columns

Index(['Unnamed: 0', 'name', 'endTime', 'artistName', 'trackName', 'msPlayed',
       'datetime', 'danceability', 'energy', 'key', 'loudness', 'mode',
       'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'type', 'id', 'uri', 'track_href', 'analysis_url',
       'duration_ms', 'time_signature', 'albumName', 'albumID'],
      dtype='object')

In [4]:
# loading the playlist data file
df2 = pd.read_csv('spotify data scraping\playlist.csv')
df2.head()

,Unnamed: 0,id,spotify_id,list_name,list_id,song_id,song_name,artist,popularity,release_date,...,tempo,speechiness,acousticness,instrumentalness,danceability,duration_ms,loudness,valence,mode,key
0,0,1,6JgDDAXKW3LpOqyuaajS9r,My Playlist #4,6JgDDAXKW3LpOqyuaajS9r,0C47mkZ7VGcnKBvEG7PiAP,Abhi Na Jao Chhod Kar,Asha Bhosle,53.0,1961-01-01,...,96.444,0.0355,0.607000,0.1870,0.521,255027.0,-9.856,0.551,1.0,3.0
1,1,1,6JgDDAXKW3LpOqyuaajS9r,My Playlist #4,6JgDDAXKW3LpOqyuaajS9r,7Hkbm2DgepcriVxDrwbCcc,Taarif Karoon,Mohammed Rafi,56.0,2019-05-16,...,111.995,0.0464,0.352000,0.0000,0.796,157761.0,-6.067,0.795,1.0,5.0
2,2,1,6JgDDAXKW3LpOqyuaajS9r,My Playlist #4,6JgDDAXKW3LpOqyuaajS9r,0Fv1BhESkVabGfhPy3vDbV,Jane Kahan Mera Jigar Gaya Ji,Geeta Dutt,46.0,1955-01-01,...,121.316,0.0590,0.877000,0.0000,0.917,218373.0,-5.145,0.977,1.0,6.0
3,3,2,1yBHRAOjWD7eutxWm4eojs,My Playlist #3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3,6CpEUlX7mrR8G4Aq6A2UqH,My Playlist #2,6CpEUlX7mrR8G4Aq6A2UqH,5ZsAhuQ24mWHiduaxJqnhW,Udd Gaye,Ritviz,65.0,2019-07-01,...,144.961,0.0474,0.000712,0.0386,0.595,180414.0,-6.187,0.483,0.0,11.0

In [5]:
df2.columns

Index(['Unnamed: 0', 'id', 'spotify_id', 'list_name', 'list_id', 'song_id',
       'song_name', 'artist', 'popularity', 'release_date', 'energy',
       'liveness', 'tempo', 'speechiness', 'acousticness', 'instrumentalness',
       'danceability', 'duration_ms', 'loudness', 'valence', 'mode', 'key'],
      dtype='object')

## Dropping columns

There are many columns that are not required for analysis so we will drop those columns.

In [6]:
df1 = df1.drop(columns=['Unnamed: 0', 'name', 'endTime', 'type', 'uri', 'track_href', 'analysis_url', 'duration_ms' ])
df2 = df2.drop(columns=['Unnamed: 0', 'id', 'spotify_id', 'list_id' ])

## Removing Duplicates

Since I have listened to a single song multiple times so there are multiple entries of a single song. 

So we will create a new csv file to store the distinct songs heard by me.

In [7]:
# shape before dropping duplicate rows
df1.shape

(15823, 19)

In [8]:
df2.shape

(38, 18)

In [9]:
# we are keeping the last instance instead of the first as we need the latest entry of the song
df1_new = df1.drop_duplicates( subset = 'trackName', keep = 'last')
df2_new = df2.drop_duplicates( subset = ['list_name', 'song_name'], keep = 'last')

In [10]:
# after dropping duplicate rows
df1_new.shape

(1923, 19)

In [11]:
# after dropping duplicate rows
df2_new.shape

(38, 18)

## Null check

Checking for empty cells and filling them is important. Since there are no empty cells there is no need for imputation.

In [12]:
df1.isnull().sum()

artistName            0
trackName             0
msPlayed              0
datetime              0
danceability          0
energy                0
key                   0
loudness              0
mode                  0
speechiness           0
acousticness          0
instrumentalness      0
liveness              0
valence               0
tempo                 0
id                    0
time_signature        0
albumName           157
albumID             157
dtype: int64

In [13]:
df2.isnull().sum()

list_name           0
song_id             1
song_name           1
artist              1
popularity          1
release_date        1
energy              1
liveness            1
tempo               1
speechiness         1
acousticness        1
instrumentalness    1
danceability        1
duration_ms         1
loudness            1
valence             1
mode                1
key                 1
dtype: int64

One of the playlist I created is empty. So we can delete that playlist entry.

In [14]:
df1_new.isnull().sum()

artistName           0
trackName            0
msPlayed             0
datetime             0
danceability         0
energy               0
key                  0
loudness             0
mode                 0
speechiness          0
acousticness         0
instrumentalness     0
liveness             0
valence              0
tempo                0
id                   0
time_signature       0
albumName           17
albumID             17
dtype: int64

In [15]:
df2_new.isnull().sum()

list_name           0
song_id             1
song_name           1
artist              1
popularity          1
release_date        1
energy              1
liveness            1
tempo               1
speechiness         1
acousticness        1
instrumentalness    1
danceability        1
duration_ms         1
loudness            1
valence             1
mode                1
key                 1
dtype: int64

In [16]:
df2.dropna(subset=['song_id', 'song_name', 'artist', 'popularity', 'release_date', 'energy', 'liveness', 'tempo', 'speechiness', 'acousticness', 'instrumentalness', 'danceability', 'duration_ms', 'loudness', 'valence', 'mode', 'key'] , inplace = True)

df2_new.dropna(subset=['song_id', 'song_name', 'artist', 'popularity', 'release_date', 'energy', 'liveness', 'tempo', 'speechiness', 'acousticness', 'instrumentalness', 'danceability', 'duration_ms', 'loudness', 'valence', 'mode', 'key'] , inplace = True)

In [17]:
df2.isnull().sum()

list_name           0
song_id             0
song_name           0
artist              0
popularity          0
release_date        0
energy              0
liveness            0
tempo               0
speechiness         0
acousticness        0
instrumentalness    0
danceability        0
duration_ms         0
loudness            0
valence             0
mode                0
key                 0
dtype: int64

In [18]:
df2_new.isnull().sum()

list_name           0
song_id             0
song_name           0
artist              0
popularity          0
release_date        0
energy              0
liveness            0
tempo               0
speechiness         0
acousticness        0
instrumentalness    0
danceability        0
duration_ms         0
loudness            0
valence             0
mode                0
key                 0
dtype: int64

## Data Format Check

In this we are checking if the attributes match with their data type.

In [19]:
df1.dtypes

artistName           object
trackName            object
msPlayed              int64
datetime             object
danceability        float64
energy              float64
key                   int64
loudness            float64
mode                  int64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
id                   object
time_signature        int64
albumName            object
albumID              object
dtype: object

In [20]:
df2.dtypes

list_name            object
song_id              object
song_name            object
artist               object
popularity          float64
release_date         object
energy              float64
liveness            float64
tempo               float64
speechiness         float64
acousticness        float64
instrumentalness    float64
danceability        float64
duration_ms         float64
loudness            float64
valence             float64
mode                float64
key                 float64
dtype: object

## Value Check

In this we are checking if the content inside the cells are correct or not. So by finding the max and min of the numerical values we can determine if the values are in the acceptable range or not.

In [21]:
df1.max(axis=0)

C:\Users\adith\AppData\Local\Temp\ipykernel_18896\3905423607.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.max(axis=0)

artistName                            阿保 剛
trackName                               進化
msPlayed                            634409
datetime               2022-03-12 18:10:00
danceability                         0.957
energy                               0.998
key                                     11
loudness                            -0.084
mode                                     1
speechiness                          0.818
acousticness                         0.995
instrumentalness                       1.0
liveness                             0.988
valence                              0.963
tempo                              210.013
id                  7zc2FDuqxw5ooCAuTxhuYd
time_signature                           5
dtype: object

In [22]:
df1.min(axis=0)

C:\Users\adith\AppData\Local\Temp\ipykernel_18896\3223245469.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.min(axis=0)

artistName                        2021 Wrapped
trackName           (I Just) Died In Your Arms
msPlayed                                     0
datetime                   2021-03-12 05:39:00
danceability                               0.0
energy                                 0.00002
key                                          0
loudness                               -38.369
mode                                         0
speechiness                                0.0
acousticness                          0.000004
instrumentalness                           0.0
liveness                                0.0222
valence                                    0.0
tempo                                      0.0
id                      003FTlCpBTM4eSqYSWPv4H
time_signature                               0
dtype: object

In [23]:
df2.max(axis=0)

list_name                        On Repeat
song_id             7qzfQO3LQdh5XonLYP2MQ9
song_name                              青い栞
artist                              Xenors
popularity                            82.0
release_date                    2022-03-31
energy                               0.892
liveness                              0.42
tempo                              176.019
speechiness                          0.364
acousticness                         0.915
instrumentalness                     0.766
danceability                         0.917
duration_ms                       616509.0
loudness                            -4.029
valence                              0.977
mode                                   1.0
key                                   11.0
dtype: object

In [24]:
df2.min(axis=0)

list_name                   My Playlist #2
song_id             0C47mkZ7VGcnKBvEG7PiAP
song_name            Abhi Na Jao Chhod Kar
artist                         A.R. Rahman
popularity                            28.0
release_date                    1955-01-01
energy                                 0.2
liveness                             0.074
tempo                               76.499
speechiness                         0.0271
acousticness                      0.000712
instrumentalness                       0.0
danceability                         0.343
duration_ms                        67562.0
loudness                           -27.091
valence                             0.0774
mode                                   0.0
key                                    0.0
dtype: object

So after performing all these checks there seems to be no issues with the dataset and hence no cleaning required.

In [25]:
df1.to_csv('data\song_data.csv')
df1_new.to_csv('data\distinct_song.csv')
df2.to_csv('data\playlist_data.csv')
df2_new.to_csv('data\distinct_playlist.csv')